!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    != body
    script(src="/javascripts/jquery-1.5.2.min.js")
    script(src="/javascripts/underscore-min.js")
    script(src="/javascripts/d3.min.js")
    script(src="/javascripts/jquery.ba-throttle-debounce.min.js")
    script(src="/javascripts/"+script+".js")
