body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


#commits {
  float: left;
  width: 600px;
}

#graph {
  float: left;
  width: 200px
}

#graph line.link {
  stroke: black;
}

td.author {
  width: 100px;
}

a {
  color: #00B7FF;
}
