body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


#graph {
  float: left;
  width: 200px
}

#graph line.link {
  stroke: black;
}

#graph g.lane.highlighted rect {
  fill: red;
}

a {
  color: #00B7FF;
}
